body{
    background-image: url(https://64.media.tumblr.com/403f8689828f9d52fa8ffcc8b69bdaa1/9d443337e9da83b9-db/s540x810/537dc80002209778887f97f211dfdc2a1e59b212.gifv);
    background-position: 90% ; /*esto determina que tan a la izquierda comenzará*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img{
    width: 40%;
   padding: 450px;
   margin: 450;
   display: flex;
   justify-content: center;
}
h1{
    color: rgb(27, 138, 101);
    font-size: 70px;
    text-align: center;
    font-family: "Niconne", cursive;
    font-weight: 850;
    font-style: normal;
}
a{
    color: aliceblue;
    background-color: yellowgreen;
    margin: 30px;
}
